In [6]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [9]:
%cd 'drive'

/content/drive

In [10]:
ls

'My Drive'/

In [11]:
%cd 'My Drive'

/content/drive/My Drive

In [14]:
%cd 'Data'

/content/drive/My Drive/Data

In [0]:
import numpy as np
import pandas as pd

In [0]:
df= pd.read_csv('train.csv')

In [17]:
df.head()

       user_name  ...                     variety
0            NaN  ...                  Chardonnay
1  @wawinereport  ...                   Red Blend
2            NaN  ...                    Nebbiolo
3     @vossroger  ...  Bordeaux-style White Blend
4     @vossroger  ...                      Malbec

[5 rows x 12 columns]

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 82657 entries, 0 to 82656
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   user_name           63264 non-null  object
 1   country             82622 non-null  object
 2   review_title        82657 non-null  object
 3   review_description  82657 non-null  object
 4   designation         59010 non-null  object
 5   points              82657 non-null  int64
 6   price               77088 non-null  float64
 7   province            82622 non-null  object
 8   region_1            69903 non-null  object
 9   region_2            35949 non-null  object
 10  winery              82657 non-null  object
 11  variety             82657 non-null  object
dtypes: float64(1), int64(1), object(10)
memory usage: 7.6+ MB

In [19]:
df.describe()

             points         price
count  82657.000000  77088.000000
mean      88.544564     36.922232
std        3.099649     43.698346
min       80.000000      4.000000
25%       86.000000     18.000000
50%       88.000000     27.000000
75%       91.000000     45.000000
max      100.000000   3300.000000

In [20]:
#continuous data are points and price
df['points'].isnull().any()

False

In [21]:
df['price'].isnull().any()

True

In [0]:

#As we can see that price column has missing values.
#we generally replace any continuous data with mean value
df['price'].fillna((df['price'].mean()),inplace = True)

In [23]:
df['price'].isnull().any()

False

In [24]:
df['country'].isnull().any()

True

In [25]:

#As we know we need country label to fill in the missing values for province and regions,
#we needto find a solution to clean country first
df['country'].isnull().sum()

35

In [0]:
#From the above we can see that there are very few number of rows withcountries missing
#so let's take only those rows which are not null

df = df[df['country'].notnull()]

In [0]:
def points_to_class(points):
    if points in range(79,83):
        return 1
    elif points in range(83,87):
        return 2
    elif points in range(87,90):
        return 3
    elif points in range(90,94):
        return 4
    elif points in range(94,101):
        return 5
    
df["rating"] = df["points"].apply(points_to_class)

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 82622 entries, 0 to 82656
Data columns (total 13 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   user_name           63229 non-null  object
 1   country             82622 non-null  object
 2   review_title        82622 non-null  object
 3   review_description  82622 non-null  object
 4   designation         58980 non-null  object
 5   points              82622 non-null  int64
 6   price               82622 non-null  float64
 7   province            82622 non-null  object
 8   region_1            69903 non-null  object
 9   region_2            35949 non-null  object
 10  winery              82622 non-null  object
 11  variety             82622 non-null  object
 12  rating              82622 non-null  int64
dtypes: float64(1), int64(2), object(10)
memory usage: 8.8+ MB

In [0]:
def descriptions_to_word(rating):
  if rating == 1:
    return 'aroma'
  elif rating == 2:
    return 'finish'
  elif rating == 3:
    return 'note'
  elif rating == 4:
    return 'rich'
  else:
    return 'fruit'

In [0]:
df['one_word_review'] = df["rating"].apply(descriptions_to_word)

In [31]:
df.head()

       user_name    country  ... rating one_word_review
0            NaN  Australia  ...      2          finish
1  @wawinereport         US  ...      3            note
2            NaN      Italy  ...      5           fruit
3     @vossroger     France  ...      3            note
4     @vossroger     France  ...      3            note

[5 rows x 14 columns]

In [32]:
df['country'].value_counts()

US                38573
France            15948
Italy              9112
Portugal           3197
Chile              2891
Spain              2755
Argentina          2570
Austria            1892
Germany            1573
New Zealand        1121
Australia          1028
South Africa        727
Israel              320
Canada              176
Greece              139
Bulgaria             93
Romania              80
England              62
Slovenia             42
Mexico               38
Hungary              35
Moldova              35
Turkey               33
Uruguay              33
Lebanon              28
Brazil               28
Morocco              21
Georgia              12
Croatia              12
Ukraine              11
Peru                  8
Cyprus                6
Macedonia             5
Switzerland           5
Luxembourg            5
Serbia                4
Czech Republic        3
India                 1
Name: country, dtype: int64

In [0]:

s = df['country'].value_counts()
df['country'] = np.where(df['country'].isin(s.index[s >= 2000]), df['country'], 'Other')

In [34]:
df['country'].value_counts()

US           38573
France       15948
Italy         9112
Other         7576
Portugal      3197
Chile         2891
Spain         2755
Argentina     2570
Name: country, dtype: int64

In [35]:
df['winery'].value_counts()

Testarossa               175
Louis Latour             168
Williams Selyem          165
Chateau Ste. Michelle    163
Georges Duboeuf          163
                        ...
Pugilist                   1
Abad                       1
Château de Bergun          1
Cerebella                  1
Inkling                    1
Name: winery, Length: 13776, dtype: int64

In [0]:
s = df['winery'].value_counts()
df['winery'] = np.where(df['winery'].isin(s.index[s >= 90]), df['winery'], 'Other')

In [37]:
df['winery'].value_counts()

Other                         80620
Testarossa                      175
Louis Latour                    168
Williams Selyem                 165
Chateau Ste. Michelle           163
Georges Duboeuf                 163
Wines & Winemakers              142
DFJ Vinhos                      131
Concha y Toro                   112
Columbia Crest                  112
Kendall-Jackson                 100
Siduri                           99
Lynmar                           98
Gary Farrell                     98
Albert Bichot                    94
Jean-Luc and Paul Aegerter       92
Montes                           90
Name: winery, dtype: int64

In [41]:
df['province'].value_counts()

California        25736
Washington         6060
Bordeaux           4690
Oregon             3900
Tuscany            3780
                  ...
Portugal              1
Santa Catarina        1
Ceres Plateau         1
Távora-Varosa         1
Dan                   1
Name: province, Length: 358, dtype: int64

In [0]:
s = df['province'].value_counts()
df['province'] = np.where(df['province'].isin(s.index[s >= 3500]), df['province'], 'Other')

In [65]:
df['region_1'].value_counts()

Napa Valley                3334
Columbia Valley (WA)       2951
Russian River Valley       2362
California                 1902
Willamette Valley          1739
                           ...
Coteaux d'Ancenis             1
Barossa-Adelaide Hills        1
Vin de Pays de France         1
Passito di Pantelleria        1
Montepulciano d'Abruzzo       1
Name: region_1, Length: 1019, dtype: int64

In [0]:
s = df['region_1'].value_counts()
df['region_1'] = np.where(df['region_1'].isin(s.index[s >= 1000]), df['region_1'], 'Other')

In [71]:
df['region_1'].value_counts().sum() #nan also gets replaced by other

82622

In [84]:
df['region_2'].value_counts()

Central Coast        7503
Sonoma               6776
Columbia Valley      5679
Napa                 5119
Willamette Valley    2605
California Other     1926
Finger Lakes         1314
Napa-Sonoma           919
Sierra Foothills      772
Central Valley        641
Southern Oregon       548
Oregon Other          519
Long Island           503
North Coast           411
Washington Other      380
South Coast           173
New York Other        161
Name: region_2, dtype: int64

In [0]:
s = df['region_2'].value_counts()
df['region_2'] = np.where(df['region_2'].isin(s.index[s >= 700]), df['region_2'], 'Other')

In [98]:
df['designation'].value_counts()

Reserve                                 1380
Estate                                   898
Reserva                                  743
Estate Grown                             425
Riserva                                  415
                                        ...
Old Hat                                    1
Estate St. Helena Vineyard Rosato Di       1
Bianco del Mulino                          1
Quinta do Cachão                           1
Schiaccianoci                              1
Name: designation, Length: 26407, dtype: int64

In [0]:
s = df['designation'].value_counts()
df['designation'] = np.where(df['designation'].isin(s.index[s >= 300]), df['designation'], 'Other')

In [102]:
df['designation'].value_counts()

Other            78458
Reserve           1380
Estate             898
Reserva            743
Estate Grown       425
Riserva            415
Barrel sample      303
Name: designation, dtype: int64

MODEL BUILDING

In [0]:
X= df[['price','rating','one_word_review','country','province','points','region_1','region_2','designation']]
#for price,rating,onewordreview,country,province,points ---> 34.45 accuracy
#for price,rating,onewordreview,country,province,points,region_1 ---> 37.5 accuracy
#for price,rating,onewordreview,country,province,points,region_1,'region_2' ---> 38.8 accuracy
#for price,rating,onewordreview,country,province,points,region_1,'region_2','designation' ---> 39 accuracy

In [104]:
X.head()

   price  rating  ...         region_2 designation
0   10.0       2  ...            Other       Other
1   15.0       3  ...  Columbia Valley       Other
2   80.0       5  ...            Other       Other
3   22.0       3  ...            Other       Other
4   33.0       3  ...            Other       Other

[5 rows x 9 columns]

In [105]:
X_2 =X
X_2

       price  rating  ...         region_2 designation
0       10.0       2  ...            Other       Other
1       15.0       3  ...  Columbia Valley       Other
2       80.0       5  ...            Other       Other
3       22.0       3  ...            Other       Other
4       33.0       3  ...            Other       Other
...      ...     ...  ...              ...         ...
82652   12.0       2  ...            Other       Other
82653   21.0       2  ...            Other       Other
82654   14.0       3  ...            Other       Other
82655   20.0       4  ...            Other       Other
82656   50.0       4  ...             Napa      Estate

[82622 rows x 9 columns]

In [0]:
X_2 = pd.get_dummies(X_2, columns=['one_word_review','country','province','region_1','region_2','designation'])

In [107]:

X_2 = X_2.iloc[:,:].values
X_2

array([[10.,  2., 83., ...,  0.,  0.,  0.],
       [15.,  3., 89., ...,  0.,  0.,  0.],
       [80.,  5., 94., ...,  0.,  0.,  0.],
       ...,
       [14.,  3., 87., ...,  0.,  0.,  0.],
       [20.,  4., 91., ...,  0.,  0.,  0.],
       [50.,  4., 92., ...,  0.,  0.,  0.]])

In [108]:
y = df['variety']
#let us do the label encoding to our variety variable which is the target
from sklearn.preprocessing import LabelEncoder
labelencoder_y = LabelEncoder()
y = labelencoder_y.fit_transform(y)
y

array([ 5, 17, 11, ...,  6,  0,  3])

In [0]:

from sklearn.model_selection import train_test_split
X_train, X_cv, y_train, y_cv = train_test_split(X_2, y, test_size = 0.2, random_state = 0)

In [0]:
from sklearn.ensemble import RandomForestClassifier

regressor = RandomForestClassifier(n_estimators=20, random_state=0)
regressor.fit(X_train, y_train)
y_pred = regressor.predict(X_cv)

In [111]:
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score

print(confusion_matrix(y_cv,y_pred))
print(classification_report(y_cv,y_pred))
print(accuracy_score(y_cv, y_pred))

[[ 771   20    4   92    0   23    5    0    2   16   10    0    0    1
    25    3    0   26    6   32   19    2    6    2   35    3    6    5]
 [ 137   11    1    2    0    3    1    0    0    0    1    0    0    0
     1    0    0    1    0    0    6    0    0    0    0    0    0    0]
 [  13    0   16   36    1   29    2    1    1   10   13    0    0    0
    26    0    0   13    0   18   16    1   10    2   19    0    1    4]
 [  64    0    8  652    0  121    0    4    8   64   66    5    9    2
    95    1    0   90    5   36   17   13   79    9   77   12   12   76]
 [   0    0    0    3  167   17    2    0    0    1    0    0    0    0
     8    0    0    2    0    4    2    0    1    0    0    1    0    0]
 [  19    1    5  138   42  578   19   10   14   41   53   12   19   12
   426    2    0   54   13  112   94    1  105   20   38    9   19   37]
 [   0    0    0    0    0   28   29    0    0    4    0    0    0    0
    12    0    0    4    4    0   65    0    5    2    0    0    0    0]
 [   3    0    2    4    0    9    0   25    0    0    2    0    2   21
    14    0    0    9    0   58    4    1    2    0    3    0    3    5]
 [   2    0    0    3    0   11    0    2   38    0    0    0    0    0
    13    0    0    3    1  120    0    0   15    0    5    0    0    0]
 [  10    0    7   41    0   42    7    0    0  162    5    0    1    0
    30    0    0   21    5    2   22    2   11    2   16    4    0    6]
 [  24    0    7  107    1   64    1    2    1    9   53    1    9    1
    32    0    0   53    1   12   14    9   49    2   22    5    3   20]
 [   2    0    2    2    0    3    0    2    0    0    0  365    9    0
     2    0    0   61    0    0    0    0    0    8    0    0    2    0]
 [   0    0    0    8    0   25    0    0    0    3    5    5   40    0
     3    0    0   55    0    6    2    0    5    3    1    0   19    4]
 [   0    0    0    8    0   11    0   18    1    1    2    0    0   63
    22    0    0    0    0   67    3    0   17    0    3    0    3    3]
 [  10    0    9   60   13  360    5   11   15   13   18    2    6   23
  1196    4    1   36   13   81   39    1   47   10   41    3    6   26]
 [   0    0    0    0    0    0    0    0    0    0    0    0    0    0
     0  350   64    0    2    0    6    0    3    0    2    0    2    0]
 [   0    0    0    0    0    0    0    0    0    0    0    0    0    0
     0  118   45    0    0    0    4    0    0    0    0    0    1    0]
 [  37    1    2  105    2   92    2    3    4   28   20   64   26    0
    73    2    0  449   10   57   28  144   34   34   60   62   31   34]
 [  11    0    1   21    0   42    7    0    0    4    5    0    0    0
    39    0    1   14   14    4   41    0    5    1   13    0    3    8]
 [   9    0   13   29    1   59    0   30   28    3    6    0    1   29
    42    1    0   19    0  479    6    0   45    3    3    0   10    4]
 [  30    1    7   18    1  100   38    3    4   11    8    1    7    8
    39   13   20   19    6   29  146    1   23    8    3   16   13   12]
 [   3    0    1   14    0   12    0    3    0    0    9    2    3    1
     8    0    0  172    1    2    4  211    2    1    5    0    6    3]
 [  19    0    1   93    2  161   15    2   18   14   28    0    9    3
    58    1    1   26    5   92   61    1  152    8   12    4    9   32]
 [   6    0    0   13    0   42   10    0    0    6    5   19   12    1
    29    2    0   48    1   10   27    0    9   34    6   55    5    5]
 [  36    0    5   94    0   91    1    1    1   13   15    2    1    1
   109    9    1   58   11   10    6    5   18    2  110    9    6   22]
 [   2    0    1    9    1    8    0    0    0    4    2    0    0    1
     7    0    0   50    0    2    3    0    3   19    8  150    2    4]
 [   4    0    3   11    1   43    4    7    5    4    4   23   25    2
    15    1    1   83    3   25   19    2   15   18    7   30   28    7]
 [   6    0    7   89    0   59    0    1    0    4   14    1    3    0
    54    0    0   25    4    2    6    3   30    2   20    2   11  124]]
              precision    recall  f1-score   support

           0       0.63      0.69      0.66      1114
           1       0.32      0.07      0.11       164
           2       0.16      0.07      0.10       232
           3       0.39      0.43      0.41      1525
           4       0.72      0.80      0.76       208
           5       0.28      0.31      0.29      1893
           6       0.20      0.19      0.19       153
           7       0.20      0.15      0.17       167
           8       0.27      0.18      0.22       213
           9       0.39      0.41      0.40       396
          10       0.15      0.11      0.13       502
          11       0.73      0.80      0.76       458
          12       0.22      0.22      0.22       184
          13       0.37      0.28      0.32       222
          14       0.50      0.58      0.54      2049
          15       0.69      0.82      0.75       429
          16       0.34      0.27      0.30       168
          17       0.32      0.32      0.32      1404
          18       0.13      0.06      0.08       234
          19       0.38      0.58      0.46       820
          20       0.22      0.25      0.23       585
          21       0.53      0.46      0.49       463
          22       0.22      0.18      0.20       827
          23       0.18      0.10      0.13       345
          24       0.22      0.17      0.19       637
          25       0.41      0.54      0.47       276
          26       0.14      0.07      0.09       390
          27       0.28      0.27      0.27       467

    accuracy                           0.39     16525
   macro avg       0.34      0.33      0.33     16525
weighted avg       0.37      0.39      0.38     16525

0.3908018154311649

In [0]:
from sklearn.naive_bayes import GaussianNB
nb = GaussianNB()

In [0]:
nb.fit(X_train, y_train)
y_pred = regressor.predict(X_cv)

In [114]:
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score

print(confusion_matrix(y_cv,y_pred))
print(classification_report(y_cv,y_pred))
print(accuracy_score(y_cv, y_pred))

[[ 771   20    4   92    0   23    5    0    2   16   10    0    0    1
    25    3    0   26    6   32   19    2    6    2   35    3    6    5]
 [ 137   11    1    2    0    3    1    0    0    0    1    0    0    0
     1    0    0    1    0    0    6    0    0    0    0    0    0    0]
 [  13    0   16   36    1   29    2    1    1   10   13    0    0    0
    26    0    0   13    0   18   16    1   10    2   19    0    1    4]
 [  64    0    8  652    0  121    0    4    8   64   66    5    9    2
    95    1    0   90    5   36   17   13   79    9   77   12   12   76]
 [   0    0    0    3  167   17    2    0    0    1    0    0    0    0
     8    0    0    2    0    4    2    0    1    0    0    1    0    0]
 [  19    1    5  138   42  578   19   10   14   41   53   12   19   12
   426    2    0   54   13  112   94    1  105   20   38    9   19   37]
 [   0    0    0    0    0   28   29    0    0    4    0    0    0    0
    12    0    0    4    4    0   65    0    5    2    0    0    0    0]
 [   3    0    2    4    0    9    0   25    0    0    2    0    2   21
    14    0    0    9    0   58    4    1    2    0    3    0    3    5]
 [   2    0    0    3    0   11    0    2   38    0    0    0    0    0
    13    0    0    3    1  120    0    0   15    0    5    0    0    0]
 [  10    0    7   41    0   42    7    0    0  162    5    0    1    0
    30    0    0   21    5    2   22    2   11    2   16    4    0    6]
 [  24    0    7  107    1   64    1    2    1    9   53    1    9    1
    32    0    0   53    1   12   14    9   49    2   22    5    3   20]
 [   2    0    2    2    0    3    0    2    0    0    0  365    9    0
     2    0    0   61    0    0    0    0    0    8    0    0    2    0]
 [   0    0    0    8    0   25    0    0    0    3    5    5   40    0
     3    0    0   55    0    6    2    0    5    3    1    0   19    4]
 [   0    0    0    8    0   11    0   18    1    1    2    0    0   63
    22    0    0    0    0   67    3    0   17    0    3    0    3    3]
 [  10    0    9   60   13  360    5   11   15   13   18    2    6   23
  1196    4    1   36   13   81   39    1   47   10   41    3    6   26]
 [   0    0    0    0    0    0    0    0    0    0    0    0    0    0
     0  350   64    0    2    0    6    0    3    0    2    0    2    0]
 [   0    0    0    0    0    0    0    0    0    0    0    0    0    0
     0  118   45    0    0    0    4    0    0    0    0    0    1    0]
 [  37    1    2  105    2   92    2    3    4   28   20   64   26    0
    73    2    0  449   10   57   28  144   34   34   60   62   31   34]
 [  11    0    1   21    0   42    7    0    0    4    5    0    0    0
    39    0    1   14   14    4   41    0    5    1   13    0    3    8]
 [   9    0   13   29    1   59    0   30   28    3    6    0    1   29
    42    1    0   19    0  479    6    0   45    3    3    0   10    4]
 [  30    1    7   18    1  100   38    3    4   11    8    1    7    8
    39   13   20   19    6   29  146    1   23    8    3   16   13   12]
 [   3    0    1   14    0   12    0    3    0    0    9    2    3    1
     8    0    0  172    1    2    4  211    2    1    5    0    6    3]
 [  19    0    1   93    2  161   15    2   18   14   28    0    9    3
    58    1    1   26    5   92   61    1  152    8   12    4    9   32]
 [   6    0    0   13    0   42   10    0    0    6    5   19   12    1
    29    2    0   48    1   10   27    0    9   34    6   55    5    5]
 [  36    0    5   94    0   91    1    1    1   13   15    2    1    1
   109    9    1   58   11   10    6    5   18    2  110    9    6   22]
 [   2    0    1    9    1    8    0    0    0    4    2    0    0    1
     7    0    0   50    0    2    3    0    3   19    8  150    2    4]
 [   4    0    3   11    1   43    4    7    5    4    4   23   25    2
    15    1    1   83    3   25   19    2   15   18    7   30   28    7]
 [   6    0    7   89    0   59    0    1    0    4   14    1    3    0
    54    0    0   25    4    2    6    3   30    2   20    2   11  124]]
              precision    recall  f1-score   support

           0       0.63      0.69      0.66      1114
           1       0.32      0.07      0.11       164
           2       0.16      0.07      0.10       232
           3       0.39      0.43      0.41      1525
           4       0.72      0.80      0.76       208
           5       0.28      0.31      0.29      1893
           6       0.20      0.19      0.19       153
           7       0.20      0.15      0.17       167
           8       0.27      0.18      0.22       213
           9       0.39      0.41      0.40       396
          10       0.15      0.11      0.13       502
          11       0.73      0.80      0.76       458
          12       0.22      0.22      0.22       184
          13       0.37      0.28      0.32       222
          14       0.50      0.58      0.54      2049
          15       0.69      0.82      0.75       429
          16       0.34      0.27      0.30       168
          17       0.32      0.32      0.32      1404
          18       0.13      0.06      0.08       234
          19       0.38      0.58      0.46       820
          20       0.22      0.25      0.23       585
          21       0.53      0.46      0.49       463
          22       0.22      0.18      0.20       827
          23       0.18      0.10      0.13       345
          24       0.22      0.17      0.19       637
          25       0.41      0.54      0.47       276
          26       0.14      0.07      0.09       390
          27       0.28      0.27      0.27       467

    accuracy                           0.39     16525
   macro avg       0.34      0.33      0.33     16525
weighted avg       0.37      0.39      0.38     16525

0.3908018154311649

In [0]:
# TO increase the accuracy I am adding two more "one word review" for the "description review"

In [0]:
def descriptions_to_word_2(rating):
  if rating == 1:
    return 'finish'
  elif rating == 2:
    return 'aroma'
  elif rating == 3:
    return 'fresh'
  elif rating == 4:
    return 'black cherry'
  else:
    return 'acidity'

In [0]:
def descriptions_to_word_3(rating):
  if rating == 1:
    return 'palate'
  elif rating == 2:
    return 'soft'
  elif rating == 3:
    return 'rich'
  elif rating == 4:
    return 'full bodied'
  else:
    return 'ripe'

In [0]:
df['one_word_review_2'] = df["rating"].apply(descriptions_to_word_2)

In [0]:
df['one_word_review_3'] = df["rating"].apply(descriptions_to_word_3)

In [124]:
df.head()

       user_name country  ... one_word_review_2 one_word_review_3
0            NaN   Other  ...             aroma              soft
1  @wawinereport      US  ...             fresh              rich
2            NaN   Italy  ...           acidity              ripe
3     @vossroger  France  ...             fresh              rich
4     @vossroger  France  ...             fresh              rich

[5 rows x 16 columns]

In [0]:
X= df[['price','rating','one_word_review','one_word_review_2','one_word_review_3','country','province','region_1','region_2','points']]

In [216]:
X_2 =X
X_2

       price  rating  ...         region_2 points
0       10.0       2  ...            Other     83
1       15.0       3  ...  Columbia Valley     89
2       80.0       5  ...            Other     94
3       22.0       3  ...            Other     87
4       33.0       3  ...            Other     88
...      ...     ...  ...              ...    ...
82652   12.0       2  ...            Other     84
82653   21.0       2  ...            Other     85
82654   14.0       3  ...            Other     87
82655   20.0       4  ...            Other     91
82656   50.0       4  ...             Napa     92

[82622 rows x 10 columns]

In [0]:
X_2 = pd.get_dummies(X_2, columns=['one_word_review','one_word_review_2','one_word_review_3','country','province','region_1','region_2'])

In [0]:

from sklearn.model_selection import train_test_split
X_train, X_cv, y_train, y_cv = train_test_split(X_2, y, test_size = 0.2, random_state = 0)

In [0]:
from sklearn.ensemble import RandomForestClassifier

regressor = RandomForestClassifier(n_estimators=20, random_state=0)
regressor.fit(X_train, y_train)
y_pred = regressor.predict(X_cv)

In [222]:
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score

print(confusion_matrix(y_cv,y_pred))
print(classification_report(y_cv,y_pred))
print(accuracy_score(y_cv, y_pred))

[[ 773   15    6   95    0   22    5    1    2   16   12    0    0    2
    21    3    0   29    6   31   18    3    5    2   32    3    6    6]
 [ 139    9    1    3    0    2    1    0    0    0    0    0    0    0
     1    0    0    1    0    0    6    0    0    0    1    0    0    0]
 [  14    0   11   38    1   32    2    1    1    9   12    0    0    0
    26    0    0   14    0   19   15    0   10    2   17    1    1    6]
 [  62    0   13  656    0  121    0    4    7   62   59    3    9    2
    96    2    0   92    7   40   18   13   80   12   74   10   12   71]
 [   0    0    0    2  167   17    2    0    0    1    0    0    0    0
     9    0    0    2    0    4    1    0    2    0    0    1    0    0]
 [  18    1    5  135   43  584   19   10   15   40   48   12   20   13
   424    2    0   53   17  112   90    1  117   17   33   10   18   36]
 [   0    0    0    0    0   28   29    0    0    4    0    0    0    0
    12    0    0    4    4    0   65    0    5    2    0    0    0    0]
 [   2    0    3    3    0   12    0   27    0    0    2    0    2   20
    13    0    0    8    0   56    4    1    3    0    3    0    3    5]
 [   2    0    0    4    0   12    0    2   35    0    0    0    0    0
    11    0    0    3    1  124    0    0   15    0    4    0    0    0]
 [  11    0    9   52    0   42    7    0    0  158    2    0    2    0
    28    0    0   20    4    2   22    1   12    2   12    3    0    7]
 [  22    0    6  111    1   65    1    2    1    9   48    0    9    1
    31    0    0   51    5   16   13    9   55    2   17    4    3   20]
 [   2    0    2    2    0    3    0    2    0    0    0  364   10    0
     2    0    0   62    0    0    0    0    0    8    0    0    1    0]
 [   0    0    0    8    0   25    0    0    0    4    5    4   40    0
     3    0    0   56    0    6    2    0    5    3    0    0   19    4]
 [   0    0    0    7    0   14    0   17    1    1    2    0    0   62
    24    0    0    0    0   66    2    0   16    0    3    0    3    4]
 [  10    0    7   63   14  358    5   10   15   13   16    1    6   25
  1193    4    1   32   14   87   39    1   42   11   43    3    6   30]
 [   0    0    0    0    0    0    0    0    0    0    0    0    0    0
     0  353   63    0    0    0    7    0    3    0    1    0    2    0]
 [   0    0    0    0    0    0    0    0    0    0    0    0    0    0
     0  122   41    0    0    0    4    0    0    0    0    0    1    0]
 [  34    1    5  112    2   88    2    3    3   26   22   58   27    1
    75    2    0  452    9   60   29  137   33   37   58   66   30   32]
 [  10    0    1   23    0   43    7    0    0    4    8    0    0    0
    38    0    1   12   14    4   41    0    5    1   12    0    3    7]
 [  10    0   11   33    1   64    0   33   28    3    5    0    1   31
    43    1    0   20    0  466    6    0   43    3    3    0   11    4]
 [  30    1    6   19    1   96   38    2    4   11    6    1    7    9
    39   14   19   19    7   29  146    2   24    8    6   16   13   12]
 [   3    0    2   11    0   13    0    3    0    0   13    2    3    1
     6    0    0  181    1    2    3  198    2    2    6    0    7    4]
 [  19    0    2  103    2  167   15    5   16   12   23    0   11    4
    56    1    1   26    5   93   59    1  144    8    8    4    8   34]
 [   6    0    0   14    0   43   10    0    0    6    5   17   12    0
    29    2    0   48    1   10   27    0    9   34    6   56    5    5]
 [  32    0    6  103    0   91    1    2    1   15   18    2    1    1
   109    8    2   55    9    9    5    5   19    2  108   10    4   19]
 [   1    0    3   10    1    7    0    0    0    3    3    0    0    1
    10    0    0   45    0    1    2    0    3   18    8  155    2    3]
 [   4    0    1   12    1   44    4    7    5    4    6   19   25    2
    15    1    1   88    3   25   18    2   15   18    7   29   28    6]
 [   6    0    6   88    0   58    0    2    0    1   21    1    6    0
    56    0    0   23    3    2    5    3   33    2   23    1   11  116]]
              precision    recall  f1-score   support

           0       0.64      0.69      0.67      1114
           1       0.33      0.05      0.09       164
           2       0.10      0.05      0.07       232
           3       0.38      0.43      0.41      1525
           4       0.71      0.80      0.76       208
           5       0.28      0.31      0.30      1893
           6       0.20      0.19      0.19       153
           7       0.20      0.16      0.18       167
           8       0.26      0.16      0.20       213
           9       0.39      0.40      0.40       396
          10       0.14      0.10      0.11       502
          11       0.75      0.79      0.77       458
          12       0.21      0.22      0.21       184
          13       0.35      0.28      0.31       222
          14       0.50      0.58      0.54      2049
          15       0.69      0.82      0.75       429
          16       0.32      0.24      0.28       168
          17       0.32      0.32      0.32      1404
          18       0.13      0.06      0.08       234
          19       0.37      0.57      0.45       820
          20       0.23      0.25      0.24       585
          21       0.53      0.43      0.47       463
          22       0.21      0.17      0.19       827
          23       0.18      0.10      0.13       345
          24       0.22      0.17      0.19       637
          25       0.42      0.56      0.48       276
          26       0.14      0.07      0.10       390
          27       0.27      0.25      0.26       467

    accuracy                           0.39     16525
   macro avg       0.34      0.33      0.33     16525
weighted avg       0.37      0.39      0.37     16525

0.3879576399394856